# Default values for user-grpc-service.
# Override in the umbrella chart's values.yaml under the "user-grpc-service" key.
replicaCount: 3

image:
  repository: grpc-enterprise-v3
  tag: latest

service:
  grpcPort: 9090
  actuatorPort: 8080

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: "1"
    memory: 1Gi

db:
  url: "jdbc:postgresql://postgres-service:5432/grpcdb"
  secretName: grpc-enterprise-db-secret

pdb:
  enabled: true
  minAvailable: 2

javaOpts: "-XX:MaxRAMPercentage=75.0 -XX:InitialRAMPercentage=50.0"
