apiVersion: v1
kind: Service
metadata:
  name: health-service
  namespace: {{ .Values.global.namespace }}
  labels:
    app: health-service
    app.kubernetes.io/name: health-service
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  type: ClusterIP
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
  selector:
    app: health-service
