server:
  port: 8888

spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: ${CONFIG_REPO_PATH:file:///${user.home}/secure-distributed-system/config-repo}
        git:
          uri: ${CONFIG_REPO_PATH:file:///${user.home}/secure-distributed-system/config-repo}
          default-label: main
          clone-on-start: true
  security:
    user:
      name: config-user
      password: config-pass

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh
