apiVersion: v1
kind: Service
metadata:
  name: config-server
  namespace: {{ .Values.global.namespace }}
  labels:
    app: config-server
    app.kubernetes.io/name: config-server
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  type: ClusterIP
  selector:
    app: config-server
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
