{{- if .Values.global.istio.enabled }}
apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: enterprise-gateway
  namespace: {{ .Values.global.namespace }}
spec:
  selector:
    istio: ingressgateway
  servers:
    - port:
        number: 443
        name: https
        protocol: HTTPS
      tls:
        mode: SIMPLE
        credentialName: {{ .Values.istio.gateway.tlsCredentialName }}
      hosts:
        - {{ .Values.istio.gateway.apiHost | quote }}
        - {{ .Values.istio.gateway.grpcHost | quote }}
    - port:
        number: 80
        name: http
        protocol: HTTP
      tls:
        httpsRedirect: true
      hosts:
        - {{ .Values.istio.gateway.apiHost | quote }}
        - {{ .Values.istio.gateway.grpcHost | quote }}
{{- end }}
