apiVersion: apps/v1
kind: Deployment
metadata:
  name: enterprise-ui
  namespace: userservice
  labels:
    app: enterprise-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: enterprise-ui
  template:
    metadata:
      labels:
        app: enterprise-ui
    spec:
      containers:
        - name: enterprise-ui
          image: userservice-enterprise-ui:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "32Mi"
              cpu: "10m"
            limits:
              memory: "128Mi"
              cpu: "100m"
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 15
---
apiVersion: v1
kind: Service
metadata:
  name: enterprise-ui
  namespace: userservice
  labels:
    app: enterprise-ui
spec:
  type: NodePort
  selector:
    app: enterprise-ui
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
